*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
a{
    color: unset;
    text-decoration: none;
}
ul{
    padding: 0;margin: 0;
    list-style-type: none;
}
